.logo {
  width: 100%;
  max-width: 200px;
  margin: 35px auto;
}
img {
  width: 100%;
}
.button {
  margin-bottom: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.button-google {
  width: 230px;
  margin: auto;
}
.button span {
  color: black;
}
p {
  text-align: center;
  color: #2d7d9a;
  text-decoration: none;
}

p.error {
  color: red;
  font-size: 12;
  margin-top: 0;
}
