.logo {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
img {
  width: 100%;
}
.button {
  margin-bottom: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.button-google {
  margin: auto;
  border: 1px solid #ff9900;
}
.button span {
  color: black;
  margin: auto;
  padding-right: 48px;
}
p {
  text-align: center;
  color: #2d7d9a;
  text-decoration: none;
}
.register-link {
  text-decoration: none;
}
.register-link p {
  color: #ff9900;
  margin-bottom: 62px;
}

p.error {
  color: red;
  font-size: 12;
  margin-top: 0;
}
