body {
  background-color: #E9F5F8;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
button, input[type='submit'] {
  text-align: center;
  height: 50px;
  border: none;
  width: 100%;
  max-width: 500px;
}
button:hover, .link:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #2D7D9A;
  color: white;
  border-radius: 4px;


}
.btn-secondary {
  background-color: transparent;
  border: 1px solid #BDBDBD;
}
.btn-tertiary {
  background-color: #2D7D9A;
  color: white;
}