body {
  background-color: #e9f5f8;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
button,
input[type="submit"] {
  text-align: center;
  height: 50px;
  border: none;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
}
button:hover,
.link:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #2d7d9a;
  color: white;
  border-radius: 4px;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid #bdbdbd;
}
.btn-tertiary {
  background-color: #2d7d9a;
  color: white;
}

.active-image {
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
  box-shadow: 0 8px 6px -6px gray;
}

.footer_menu_icons {
  height: 100px;

  overflow: hidden;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background-color: #e9f5f8;
  align-items: center;
}

.footer_scan_logo {
  width: 24%;
  float: left;
}
.footer_trousse_logo {
  width: 22%;
  float: left;
}
.footer_blog_logo {
  width: 22%;
  float: left;
}
.footer_params_logo {
  width: 22%;
  outline-color: 10px red;
  float: left;
}
